.profile{
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
}
.description{
    padding: 20px 0;
}
.name{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.text{
    font-size: 15px;
    margin-bottom: 10px;
}

.text:last-child{
    margin-bottom: 0px;
}
.stats{
    display: flex;
}

.statsItem{
    width: 80px;
    padding: 10px;
    border-radius: 4px;
    list-style: none;
    background-color: #b2b5b2;
}
.profileImg{
    margin: 0 auto;
    border:1px solid black;
    border-radius: 50%;
}
.quantity{
    font-size: 18px;
    font-weight: 600;
}
